/* --Переменные-- */
:root {
  --brand-color: #212121;
  --secondary-color: #757575;
  --rare-color: #2196f3;
  --bg-color: #2f303a;
  --white-color: #ffffff;
  --btn-bg-hover: #188ce8;
  --btn-bg-secondary-color: #f5f4fa;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--brand-color);
  background-color: var(--white-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}
ul {
  list-style-type: none;
}
/* --Навигация-- */
.logo,
.link {
  color: var(--brand-color);
  text-decoration: none;
}
.contact {
  color: var(--secondary-color);
}
.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.web-logo {
  color: var(--rare-color);
}

.link:hover,
.link:focus {
  color: var(--rare-color);
}
.link {
  font-weight: 500;

  line-height: 1.14;
  letter-spacing: 0.02em;
}

/*--Секция Герой-- */
.hero {
  background-color: var(--bg-color);
}

.hero-title {
  color: var(--white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;

  text-align: center;
  text-transform: uppercase;
}

.btn-hero {
  color: var(--white-color);
  background-color: var(--rare-color);
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border: none;
  cursor: pointer;
}

.btn-hero:hover,
.btn-hero:focus {
  background-color: var(--btn-bg-hover);
}
/* --Преимущества-- */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* display: none; */

.detail-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  text-transform: uppercase;
}
.detail-text {
  color: var(--secondary-color);
  line-height: 1.71;
}
/* --Портфолио-- */
.section-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* -- Наша команда -- */
.team {
  background-color: var(--btn-bg-secondary-color);
}

.card-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19px;
}

.card-text {
  color: var(--secondary-color);

  font-size: 16px;
  line-height: 1.19;
}

/* --Футер-- */
.footer {
  background-color: var(--bg-color);
}

.footer-logo {
  color: var(--white-color);
}

.address .link {
  color: var(--white-color);
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
}
.address-list .contact {
  color: rgba(255, 255, 255, 0.6);
}
.contact:hover,
.contact:focus {
  color: var(--rare-color);
}
/* -- Страница Потрфолио */

/* --Фильтры на Проектах-- */
.current {
  color: var(--rare-color);
}
.btn-filter {
  padding: 6px 22px;
  border-radius: 4px;
  background-color: var(--btn-bg-secondary-color);
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  border: none;
  cursor: pointer;
}
.active {
  color: var(--white-color);
  background-color: var(--btn-bg-hover);
}

.btn-filter:hover,
.btn-filter:focus {
  color: var(--white-color);
  background-color: var(--btn-bg-hover);
}
/* --Карточки работ-- */
.project-card-title {
  color: var(--brand-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card-link {
  text-decoration: none;
}

.project-card-text {
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 1.88;
}
